In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

engine = sqlalchemy.create_engine('postgresql://root:@localhost:3305/campaigns')

In [2]:
df1 = pd.read_csv('conversions_1.csv')
df1.head()

   conversion_id  click_id   revenue
0           2000    100013  1.173893
1           2001    100016  0.388161
2           2002    100019  0.678304
3           2003    100020  0.728844
4           2004    100025  0.608240

In [3]:
df2 = pd.read_csv('clicks_1.csv')
df2.head()

   click_id  banner_id  campaign_id
0    100000        328           23
1    100001        357            7
2    100002        106           41
3    100003        107           42
4    100004        391           26

In [4]:
new_df = pd.merge(df1, df2, on='click_id')
new_df = new_df[['campaign_id', 'banner_id','revenue']]
final_df = new_df.sort_values(['campaign_id', 'revenue'], ascending=[True, False]).groupby('campaign_id').head(10)
final_df['banner_pic'] = 'image' 
final_df['banner_pic'] = 'image_'+ final_df['banner_id'].astype(str) + '.png'
final_df

      campaign_id  banner_id   revenue     banner_pic
1547            1        458  1.493126  image_458.png
4396            1        467  1.482519  image_467.png
1496            1        344  1.463931  image_344.png
3492            1        273  1.434384  image_273.png
3143            1        435  1.385428  image_435.png
3281            1        202  1.381219  image_202.png
1259            1        474  1.359284  image_474.png
676             1        134  1.355651  image_134.png
1833            1        245  1.351110  image_245.png
917             1        187  1.345335  image_187.png
5151            2        393  1.499655  image_393.png
736             2        107  1.487384  image_107.png
2841            2        271  1.482251  image_271.png
4312            2        360  1.459299  image_360.png
2871            2        361  1.455973  image_361.png
5073            2        453  1.447030  image_453.png
3801            2        144  1.424601  image_144.png
4665            2        118  1.381576  image_118.png
1869            2        141  1.369928  image_141.png
2400            2        165  1.364257  image_165.png
845             3        261  1.492022  image_261.png
1852            3        349  1.484299  image_349.png
316             3        485  1.460415  image_485.png
4022            3        114  1.456613  image_114.png
634             3        474  1.439564  image_474.png
434             3        294  1.432701  image_294.png
3317            3        393  1.432684  image_393.png
3063            3        486  1.413968  image_486.png
2409            3        460  1.410987  image_460.png
5286            3        385  1.409290  image_385.png
...           ...        ...       ...            ...
4857           48        142  1.488727  image_142.png
126            48        146  1.485562  image_146.png
2626           48        357  1.460080  image_357.png
5074           48        412  1.447577  image_412.png
3547           48        400  1.438496  image_400.png
4794           48        147  1.434450  image_147.png
2268           48        352  1.395184  image_352.png
19             48        487  1.383605  image_487.png
3853           48        363  1.368716  image_363.png
5592           48        387  1.344452  image_387.png
2289           49        458  1.493931  image_458.png
5868           49        335  1.491144  image_335.png
3534           49        333  1.489369  image_333.png
1729           49        278  1.485813  image_278.png
1377           49        313  1.483763  image_313.png
5781           49        110  1.476407  image_110.png
2835           49        296  1.476176  image_296.png
4737           49        406  1.472315  image_406.png
4252           49        199  1.471999  image_199.png
672            49        352  1.461343  image_352.png
5330           50        294  1.496874  image_294.png
5713           50        176  1.495614  image_176.png
846            50        269  1.477705  image_269.png
168            50        219  1.462286  image_219.png
3294           50        405  1.444825  image_405.png
4106           50        174  1.438670  image_174.png
1543           50        461  1.438377  image_461.png
5588           50        343  1.431724  image_343.png
860            50        347  1.412201  image_347.png
2766           50        375  1.408964  image_375.png

[500 rows x 4 columns]

In [ ]:
final_df.to_sql(
    name='campaigns',
    con=engine,
    index=False
)